.atas{
    margin: 0;
    height: 60px;
}

.vertical { 
    border-left: 2px solid #dcdcdc; 
    margin-top: 28px;
    margin-left: 10px;
    height: 30px; 
}

.img-slider div {
    width: 20%;
    height: 100%;
}

.img-slider img {
    height: 100%;
}

.slider {
    height: 80%;
    display: flex;
    align-items: center;

}

.card .multi-button {
    z-index: 0;
    position: absolute;
    top: 2.25rem;
    left: 2.25rem;
    border-radius: 100%;
    width: 0rem;
    height: 0rem;
    transform: translate(-50%, -50%);
    transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
}

.card .multi-button button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 100%;
    background: var(--background);
    color: var(--text);
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0rem -0.25rem var(--background);
}

 .card .multi-button button:hover {
    background: var(--text);
    color: var(--background);
    box-shadow: 0 0 1rem -0.25rem var(--background);
}

 .card:hover .multi-button,  .card .multi-button:focus-within {
    width: 2rem;
    height: 2rem;
}

.slider img {
    width: 90%;
    margin: auto;
}

.img-slider {
    width: 70%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: auto;
    margin-top: 15px;
}

.mid{
    margin-left: 90px;
    margin-right: 90px;

}

.ongoing{
    margin-top: 60px;
}

.ongoing > .row{
    position: absolute;
}

.ongoing > .slide{
    margin-top: -30px;
}

.grid-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px 7px;
    grid-template-areas:
      "card1 card1 card2 card2 category category category category"
      "card3 card3 card3 card3 men totebag pullover pullover"
      "card3 card3 card3 card3 mask totebag pullover pullover"
}

.pullover { grid-area: pullover; }

.totebag { grid-area: totebag; }

.men { grid-area: men; 
}

.mask { grid-area: mask; }

.card2 { grid-area: card2; }

.card1 { grid-area: card1; }

.card3 { grid-area: card3; }

.category { 
    grid-area: category;   
}

.category > button{
    border-radius: 33px;
    margin-left: 14px;
    background-color: white;
    color: #0A292B;
    font-size: small;
}

div.men, div.women, div.sale, div.trending, div.atas, div.mid > *{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-justify: inter-word;

}

