<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ponshop</title>
    <link rel="icon" href="/Gambar/Logo/160059991334135361 (1).png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="home2.css">
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
  <div id="wrapperMain">
    <div id="headerMain">
      <nav id="navbar_top">
        <div id="navbar" class="atas" style="padding-left: 60px; background-color: white; width: 1500px; height: 90px;">
          <div class="d-flex bd-highlight mb-3">
            <div class="d-flex flex-row bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                <div class="mr-auto p-2 bd-highlight" style="margin-top: -7px;">
                  <img onclick="topFunction()" class="ponshop" src="HomePage/Logo/160059991334135361 .png" width="150px" style="margin-left: 10px;">
              </div>
              </div>
              <a href="category.html"  style="margin-top: 30px; margin-right: 9px; margin-left: 9px; color: #0A292B;">
                <small>Category</small>
              </a>
              <div class="p-2 bd-highlight">
                <div class="d-flex flex-row bd-highlight mb-3">
                  <div class="p-2 bd-highlight" style="margin-top: -17px;">
                    <div id="search" class="p-2 bd-highlight" style="margin-top: 20px; padding-right: 100px;">
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" style="width: 44rem; height: 32px; border-color: #0A292B; border-right: none; ">
                          <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" style="height: 32px; border-color: #0A292B; border-left: none; background-color: white;"><img src="newIcon/icon Search.svg" width="20" height="20" style="margin-top: -10px;"></button>
                          </div>
                      </div>
                      <div class="d-flex flex-row bd-highlight mb-3" style="font-size: 10px; margin-top: -20px; margin-left: -7px; color: #687D7E;">
                        <div class="p-2 bd-highlight">
                          <a href="category_electronic_TV.html" style="color: #687D7E;">Television</a>
                        </div>
                        <div class="p-2 bd-highlight">
                          <a href="category_beauty_SC.html" style="color: #687D7E;">Skin Care</a>
                        </div>
                        <div class="p-2 bd-highlight">
                          <a href="category_men_Shirt.html" style="color: #687D7E;">Men Shirt</a>
                        </div>
                        <div class="p-2 bd-highlight">
                          <a href="category_pc_Laptop.html" style="color: #687D7E;">Laptop</a>
                        </div>
                        <div class="p-2 bd-highlight">
                          <a href="category_gadget_SP.html" style="color: #687D7E;">Smartphone</a>
                        </div>
                        <div class="p-2 bd-highlight">
                          <a href="category_music_Drum.html" style="color: #687D7E;">Music</a>
                        </div>
                        <div class="p-2 bd-highlight">
                          <a href="category_camera_Drone.html" style="color: #687D7E;">Drone</a>
                        </div>
                        <div class="p-2 bd-highlight">
                          <a href="category_furniture_Table.html" style="color: #687D7E;">Table</a>
                        </div>
                        <div class="p-2 bd-highlight">
                          <a href="category_women_Bag.html  " style="color: #687D7E;">Women Bag</a>
                        </div>
                      </div>
                  </div>
                  </div>
                  <div class="p-2 bd-highlight">
                    
                    <div class="p-2 bd-highlight" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <img onclick="basket()" class="leftsearch" src="Icon/add-to-basket.png" type="button" width="20" height="20" style="margin-top: 7px;">
                    </div>
                    <div class="collapse" id="collapseExample" style="position: absolute; width: 300px; margin-top: 15px;">
                      <div class="card card-body" style="height: 300px; width: 400px; overflow-y: scroll; margin-left: -100px;">
                        <table class="table" >
                          <thead>
                            <tr>
                              <th>Basket (?)</th>
                              <th></th>
                              <th style="font-size: small;">See More</th>
                            </tr>
                          </thead>
                          <tbody id="listbasket" class="basketItems">
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="p-2 bd-highlight">
                    <div class="p-2 bd-highlight" data-toggle="collapse" href="#collapseExample222" role="button" aria-expanded="false" aria-controls="collapseExample">
                      <img class="leftsearch" src="Icon/notification.png" type="button" width="20" height="20" style="margin-top: 7px;">
                    </div>
                    <div class="collapse" id="collapseExample222" style="position: absolute; width: 300px; margin-top: 15px;">
                      <div class="card card-body" style="height: 300px; width: 400px; overflow-y: scroll; margin-left: -100px;">
                        <table class="table" >
                          <thead>
                            <tr>
                              <th>Notification</th>
                              <th></th>
                              <th style="font-size: small;">See More</th>
                            </tr>
                          </thead>
                          <tbody id="listbasket" class="basketItems">
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vertical"></div>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white; color: #006667; border: none; margin-top: 24px; margin-left: 22px;">
                  Kelusi
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" style="color: #0A292B; font-size: small; font-family: 'Roboto', sans-serif;">My Account</a>
                  <a class="dropdown-item" href="#" style="color: #0A292B; font-size: small; font-family: 'Roboto', sans-serif;">Order</a>
                  <a class="dropdown-item" href="#" style="color: #0A292B; font-size: small; font-family: 'Roboto', sans-serif;">History</a>
                </div>
              </div>
              <div class="help" style="margin-top: 30px; margin-left: 20px;">
                <a href="" style="color: #0A292B;">
                  <small >Help</small>
                </a>
              </div>
            </div>
        </div>
      </div>
    </nav>
    </div>
    <div id="contentMain">
      <div class="information">
        <div>
          <div class="room-gallery">
            <div class="cardLove" style="--background:#F4F9F9; --text:white; border-radius: 33px;">
              <div class="multi-button">
                <button><img src="icon/160325485471381259.png" alt="" width="25px"></button>
              </div>
              <div class="bingkaiImage">
                <div>
                  <img id="imgChange" class="gallery-hightlight hero" src="" style="margin-bottom: 5px; float: left; object-fit: contain;" alt="room1" />
                </div>
                <div class="room-preview">
                  <div class="childHero">
                    <img src="" class="room-active" alt="" style="object-fit: contain;"/>
                  </div>
                  <div class="childHero">
                    <img src="" alt="" class="childHero" style="object-fit: contain;"/>
                  </div>
                  <div class="childHero">
                    <img src="" alt="" class="childHero" style="object-fit: contain;"/>
                  </div>
                </div>
                Share :
                <div class="wrapper">
                  <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <span><i class="fab fa-facebook-f"></i></span>
                  </div>
                  <div class="icon twitter">
                    <div class="tooltip">Twitter</div>
                    <span><i class="fab fa-twitter"></i></span>
                  </div>
                  <div class="icon instagram">
                    <div class="tooltip">Instagram</div>
                    <span><i class="fab fa-instagram"></i></span>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          
          
            <div id="mainInfor">
              <h2><b id="nameChange"></b></h2>
              <div class="rating row">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <div class="selaras"></div>
                  <div class="selaras">
                      <p>(100 ratings)</p>
                  </div>
              </div>
              <div class="tengah">
                <div class="isiTengah">
                  <div class="priceItems row">
                      <p style=" font-weight: 600;" class="priceCol col-sm-2">PRICE</p>
                      <p id="priceChange" class="col idr price"></p>
                  </div>
                  <div class="priceQty row">
                      <p style=" font-weight: 600;" class="qtyCol col-sm-2">QTY</p>
                      <div class="quantity col">
                        <button class="btn minus-btn disabled" type="button">
                          <p>-</p>
                        </button>
                        <input type="text" id="quantity" value="1">
                        <button class="btn plus-btn" type="button">
                          <p>+</p>
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <br>
        </div>
            
        <div  class="desc col" >
          <p class="col" style=" font-weight: 600;">Description</p>
          
          <p class="col" id="descChange">
            
          </p>   
           
        </div>
        
    </div>
    <br>
    <br><br>
    
  </div>

  

  <div id="footerMain">
    <div class="footer">
      <div class="totalCol row">
        Total            
      </div>
      <div  class="totalHarga row" style="font-size: 20px;">
        <b class="classChange" id="totalChange"></b> 
      </div>
    </div>
    <div class="row footerCol">
      <div  class="beliCol col belihover"  type="button">
        <p class="beliBorder" style=" font-size: 18px; font-weight: 500; ">Buy Now</p>
      </div>
      <div id="addtobasket" class="beliCol col baskethover" type="button">
        <p class="beliBorder basketBorder">
          <img src="Icon/add-to-basket.png" alt="" width="20px">
        </p>
      </div>
    </div>
    
  </div>
 </div>
 
    
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="home3.js"></script>
    <script src="home2.js"></script>
</body>
</html>